// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.quiz-show {
  background-color: #2A7E54;

}
.quiz-content {
  background-color: rgba(237,255,254,1);
  margin-top: 60px;
  margin-bottom: 100px;
  .quiz-content-title{
    font-size: 14px;
    font-weight:800;
  }
}
