// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
  width:100%;
}

//------------Header Section  -------//

.main-header {
    position: fixed;
    z-index: 100;
    top: 0px;// navbar 距离top
    left: 0;
    right: 0;
    min-width: inherit;
    -webkit-transform: translateZ(0);
}

.header-inner {
  position: relative;
  height: 60px;// navbar -high
  text-align: center;
  background: #000;
  border-bottom: 1px solid #000;
  padding: 15px;
  z-index: 1000;
}

.form-search {
  margin: 0;
  position: relative;
}

.form-search .search-input {
  padding: 3px 22px 3px 2px;
  width: 260px;
  height: 30px;
  background: #faf6ec;
  color: #808080;
  outline: 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;//搜索栏
  border-radius: 15px;
  padding-left: 15px;
}

.form-search .search-icon {
  position: absolute;
  float: right;
  width: 75px;
  height: 75px;
  top: -25px;
  right: -25px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.form-search .search-icon:focus, .form-search .search-icon:active, {
  outline: 0;
}

.form-search .search-icon .fa-search {
  color: #808080;
  opacity: 0.6;
  transition: 1s;
}

.form-search .search-icon:hover .fa-search {
  opacity: 0.4;
}

.header-inner .header-center {
  a {
    color: rgb(239,234,225);
    font-size: 24px;
  }
  display: inline-block;
  margin-left: -60px;
}

.header-inner .header-center a:hover {
  text-decoration: none;
}

.header-inner a.header-user-item {
  min-width: 100px;
  background: #fff;
  border: 1px solid rgb(102,89,92);
  margin-top: 10px;
  margin-right: 10px;
  transition: 1s;
}

.header-inner .header-right a.btn {
  height: 30px;
  margin-top: 13px;
}


.header-inner .header-user-item:hover {
  border: 1px solid #fff;
  background: rgb(102,89,92);
  color: #fff;
}

.header-inner .header-right {
  margin-top: -13px;

  a {
    color: rgb(239,234,225);
    margin-top: 1px;
  }
  a:hover {
    background-color: #4CAF50
  }
  a.btn {
    color: rgb(88,75,79);
  }
  a.btn:hover {
    color: rgb(239,234,225);
  }
}


.header-inner .header-right ul.dropdown-menu li a {
  color: rgba(0, 0, 0, 0.7);
}

.header-inner .header-right ul.dropdown-menu li a:hover {
  background-color: #efeae1 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #4CAF50 !important;
}

.subheader {
  width: 100%;
  height: 45px;
  background: rgb(239,234,225);
  letter-spacing: 1.5px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  background-clip: padding-box;
}

.subheader .animated {
  transform: translateY(0%);
  transition: all .3s ease-in-out 0s;
  position: absolute;
}

.subheader ul {
  margin-top: 0;
  padding-top: 12px;
  margin-bottom: 10px;
  display: block;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul.subheader-content {
  padding-left: 0;
  margin: 0;
}

.subheader ul li {
  display: inline-block;
  text-align: -webkit-match-parent;
  a {
    color: rgb(89,75,79);
    transition: all .2s ease-out 0s;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    padding-bottom: 9px;
  }

  a:hover  {
    text-decoration: none;
    border-bottom: 2px solid rgb(89,75,79);
    color: rgb(89,75,79);
  }
}

.subheader ul li.active a {
  border-bottom: 2px solid rgb(89,75,79);
  color: rgb(89,75,79);
}

@media screen and (max-width: 500px) {
  .header-inner .header-center {
    margin-left: -70px;
  }
}


/* media query */

@media screen and (max-width: 1400px) {
  #banner .col-md-10 {
    padding-right: 0px;
  }
}

//==== banner-v2 section ========//

.banner-v2 {
  margin-top: 60px;
  height: 360px; // 大图以下的高度
  .banner-img{
    height: 0px;
    position: relative;
    z-index:1;
    img{
      width:100%;
      height: 360px;
      //opacity:0.5;

    }
  }
  .banner-detail{
    margin-top: 0px;
    padding-top: 0px;
    height: 360px;
    position: relative;
    z-index:10;
    .banner-logo {
      color: #F0FFF0;
      font-family: 'Dancing Script', cursive;
      font-size: 69px;
    }
    .banner-slogan {
      position: relative;
      color: #fff;
      margin-top: 40px;
      margin-left: 10%; //slogan位置
      font-weight: 400;
      width: 1000px;//slogan长度
    }
    .sub-slogan {
      margin-top: 40px;
      padding-right: 40px;
      font-size: 60px;//字体大小
    }
    .welcome-button {
      margin-left: 70%;
      position: absolute;
      height: 80px;
      margin-top: 30px;
      width: 100%;
    }
    .btn.btn-primary-welcome{
       background-color: transparent;
       color: #fff;
       border-color: #fff;
       padding: 5px 20px;
       font-size: 20px;
       letter-spacing: 1px;
    }

    .btn.btn-primary-welcome {
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }

    .btn-default {
      background: rgb(230,178,84);
      color: #33691E;
      height:50px;
      width:150px;
      padding-top: 7px;
      font-size: 24px;
      border: 1px solid #fff;
    }
  }
}


.module-name {
    margin-top: 50px;//动图距离
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0px;
}



.module-name.decorative i {
    display: inline-block;
    vertical-align: middle;
    width: 95px;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    margin-right: 20px;

}

.module-name.decorative span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.module-name.decorative span+i {
    margin-right: 0;
    margin-left: 18px;
}




//======= our service ======//

#service {
 padding-bottom: 50px;
 background-color:#F1F8E9;
 padding-top: 20px;
 .col-md-4 {
   padding: 15px 10px;
 }
}
.service-item-img{
   img { width: 100%;
     margin:1px auto;
     z-index: 15;}
   .round-image-160 {
     background-color: white;
     border: 1px solid  #faf6ec;
     border-radius: 80px;
     -moz-border-radius: 80px;
     -webkit-border-radius: 80px;
     height: 160px;
     width: 160px;
     overflow: hidden;
     text-align: center;
   }

}
.service-info{
  padding-top:45px;
  color: rgba(0, 0, 0, 0.5);
}



//---------- pins -----------//

#pins {
   margin: 0 auto;
   width: 100%;
   .box {
 	  margin: 10px;
 	  width: 225px;
 	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
 	  text-align: center;
    padding: 0px;
    transition: 0.35s;
 	  img {
 	  	max-width: 100%;
 	  	height: auto;
 	  }
    &:hover{
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
    }
 	}
 }

 .box{
   overflow: hidden;
 }

 .fig{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   height:40px;
   cursor: pointer;
   text-align: center;
   font-size: 1.2em;
   transition: all 0.2s ease-out;
   display: none
 }

 .box:hover .fig{
 	top: 0;
 	left: 0;
 	transition: all 0.2s ease-out;
  display: block;
 }
  .box:hover {
    border:1px solid  rgb(245,190,126);
  }

 .fig> p.actions {
   text-align: right !important;
   a.add-to-cart{
    color:rgb(245,190,126);
    padding-right:10px;
    font-size: 28px;
   }
}

.panel-body{
  padding: 5px;
  font-size: 12px;
  a:hover{
    text-decoration: none;
  }
  span.price{
    color: #ef9a9a;
  }
  span{
    a.like{
      color:#eee;
    }
    a.unlike{
      color: #ef9a9a;
    }
  }
}
//------------- End of pins ------------//

/* resources */
#resources {
  padding-bottom: 50px;
  background-color:#fff;
  padding-top: 20px;
  .col-md-4 {
    padding: 15px 10px;
    .quote-box-1 {
      padding: 30px 30px;
      background-color: #FFF;
      color: rgba(0, 0, 0, 0.5);
      line-height: 2em;
      border:4px solid  #80DEEA;
      margin-top:-41px;
      position: relative;
      z-index:1;
      .fa{
        color:#FDD835;
      }
    }
  }
}
.fd-avatar-box{
    border:4px solid  #faf6ec;
    border-radius: 168px;
    width: 83px;
    height: 83px;
    background-color: #fff;
    position: relative;

    z-index: 14;
    margin:0 auto;
    .fd-avatar-box-color-overlay{
      position: absolute;
      background-color: none;
      border-radius: 167px;
      height: 83px;
      width: 83px;

    }
    img {
      width: 100%;
      margin:1px auto;
      z-index: 15;
    }
    .round-image-74 {
      background-color: white;
      border: 1px solid  #faf6ec;
      border-radius: 37px;
      -moz-border-radius: 37px;
      -webkit-border-radius: 37px;
      height: 74px;
      width: 74px;
      overflow: hidden;
      text-align: center;
    }
}







//------------- keng ----------//
/*轮播图*/
.banner－0 img {
  width: 1200px;
  height: 360px;
  width: 60%;
  margin:1px auto;
  z-index: 15;
}

// .carousel-inner-0 .item {
//   height: 375px;
// }
