<!DOCTYPE html>
<html>
  <head>
    <title>翻越高考</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="#"/> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row welcome-page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
